<footer id="Contacts" class="footer">
  <div class="container footer-container">
    <div class="footer-links">
      <div class="footer-images">
        <div class="footer-img">
          <picture>
            <source
              srcset="
                ./img/img_footer/img_veg-min.png    1x,
                ./img/img_footer/img_veg_2x-min.png 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./img/img_footer/img_veg_l-min.png   1x,
                ./img/img_footer/img_veg_l2x-min.png 2x
              "
              media="(min-width: 768px)"
            />
            <img
              src="./img/img_footer/img_veg-min.png"
              alt="fresh broccoli"
              width="335"
              height="172"
            />
          </picture>
        </div>
        <div class="footer-logo-box">
          <a class="footer-logo" href="/">
            <svg class="footer-logo-icon" width="16" heigth="16">
              <use href="./img/icons.svg#icon-logo"></use>
            </svg>
            <p class="footer-logo-item">veggieboost</p></a
          >
        </div>
      </div>
      <ul class="footer-nav">
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#How_It_Works">How It Works</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#Vegetables">Vegetables</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#Contacts">Contacts</a>
        </li>
      </ul>
    </div>
    <div id="Contacts" class="footer-contacts">
      <ul class="footer-soc">
        <li class="footer-soc-item">
          <a
            class="footer-soc-link"
            href="http://facebook.com"
            aria-label="facebook"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="footer-soc-icon" width="24" heigth="24">
              <use href="./img/icons.svg#icon-facebook"></use></svg
          ></a>
        </li>
        <li class="footer-soc-item">
          <a
            class="footer-soc-link"
            href="http://instagram.com"
            aria-label="instagram"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="footer-soc-icon" width="24" heigth="24">
              <use href="./img/icons.svg#icon-instagram"></use></svg
          ></a>
        </li>
        <li class="footer-soc-item">
          <a
            class="footer-soc-link"
            href="http://youtube.com"
            aria-label="youtube"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="footer-soc-icon" width="24" heigth="24">
              <use href="./img/icons.svg#icon-youtube"></use></svg
          ></a>
        </li>
      </ul>
      <a class="footer-tel" href="tel:+380684439426">+380 (68) 443-94-26</a>
      <p class="footer-adress">
        1678 S. Pioneer Road <br />
        Salt Lake City <br />
        UT 84104
      </p>
    </div>
  </div>
</footer>
