<header class="header">
    <div class="header-container">
    <nav class="header-nav">
        <ul class="header-menu">
            <li class="header-menu-item"><a class="header-menu-link" href="">How It Works</a></li>
            <li class="header-menu-item"><a class="header-menu-link" href="">Vegetables</a></li>
            <li class="header-menu-item"><a class="header-menu-link" href="">Contacts</a></li>
        </ul>
        <a href="./index.html" class="header-logo">
            <svg class="header-logo-icon" width="16" height="16">
                <use href="./img/icons.svg#icon-logo"></use>
            </svg>VEGGIEBOOST</a>
    </nav>

    <button type="button" class="header-open-modal-btn" data-modal-open>
        <svg class="header-open-modal-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-shopping-cart"></use>
        </svg>
    </button>

    <button type="button" class="header-open-menu-btn js-open-menu">
        <svg class="header-open-menu-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-menu"></use>
        </svg>
    </button>
    </div>

    <div class="mob-menu js-menu-container is-open">
        <div class="mob-menu-logo-btn">
            <a href="" class="mob-menu-logo">
                <svg class="mob-menu-logo-icon" width="16" height="16">
                    <use href="./img/icons.svg#icon-logo"></use>
                </svg>VEGGIEBOOST</a>
            <button type="button" class="mob-menu-close-btn js-close-menu">
            <svg class="mob-menu-btn-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-close"></use>
            </svg>
            </button>
        </div>
        <div class="mob-menu-list-container">
        <ul class="mob-menu-list">
            <li class="mob-menu-item"><a class="mob-menu-link" href="#How_It_Works">How It Works</a></li>
            <li class="mob-menu-item"><a class="mob-menu-link" href="#Vegetables">Vegetables</a></li>
            <li class="mob-menu-item"><a class="mob-menu-link" href="#Contacts">Contacts</a></li>
            <li class="mob-menu-item"><a class="mob-menu-link" href="#Your_Order">
                <svg class="mob-menu-icon" width="20" height="20">
                    <use href="./img/icons.svg#icon-shopping-cart"></use>
                </svg>
            </a></li>
        </ul>
        </div>
    </div>
</header>