<section class="hero">
  <div class="container">
    <div class="circle-mix">
      <img class="img-1" src="./images/girl-1-min.png" alt="user-girl" />
      <img class="img-2" src="./images/boy-min.png" alt="user-boy" />
      <img class="img-3" src="./images/girl-3-min.png" alt="user-girl" />
    </div>
    <h1 class="hero-title">organic vegetables to your diet today!</h1>
    <p class="hero-p">
      Our expertly curated vegetable baskets are made with the freshest, highest
      quality vegetables available. Fresh Harvest Box has got you covered.
      Fresh, high-quality vegetables in expertly curated vegetable baskets
      delivered to you.
    </p>
    <button class="hero-btn" type="button">shop now</button>
    
    </button>
    <div class="hero-img">
      <img
        class="big-girl"
        src="../img/hero/hero-main-girl.png"
        alt="girl smilling with vegetables"
      />
    </div>
    <div class="hero-block">
      <ul class="hero-list">
        <li class="hero-item">
          <a class="hero-link" href="">#organic</a>
        </li>
        <li class="hero-item">
          <a class="hero-link" href="">#products</a>
        </li>
       </ul>
       <ul class="hero-list">
       <li class="hero-item">
          <a class="hero-link" href="">#basket</a>
        </li>
        <li class="hero-item">
          <a class="hero-link" href="">#vegetables</a>
        </li>
       </ul>
    </div>
  </div>
</section>
