<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,500&display=swap"
        rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <section class="we-will">
        <h2 class="title-we-will">Fresh Harvest Box has got you covered</h2>
        <p class="text-we-will">Our boxes are packed with delicious, nutritious vegetables, perfect for anyone looking
            to eat healthier or
            support local
            farmers. Order your box today and start enjoying the best that nature has to offer!</p>
        <div class="sub-we-will">
            <form class="form-we-will">
                <label for="we-will-phone" class="label-we-will">
                    <input type="phone" name="we-will-phone" id="we-will-phone" placeholder="+ 380 () "
                        class="input-we-will">
                </label>
                <button type="submit" class="button-we-will">Recall</button>
                <img srcset="./section3-img/we-will-girl.jpg 1x, ./section3-img/we-will-girl-2x.jpg 2x"
                    src="./section3-img/we-will-girl.jpg" alt="girl with broccoli" width="525" height="499">
    </section>
</body>

</html>