<section>
  <div class="container">
    <h2 class="header-section-two">ORGANIC VEGETABLES</h2>
    <p class="text-section-two">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <div class="">
      <ul class="item-list-card">
        <li class="card-list">
          <a>
            <div>
              <h3 class="header-card">Carrot</h3>
              <p class="text-card">Plant</p>
            </div>
            <div class="card-image">
              <picture>
                <source
                  srcset="
                    ./img/vegetables/carrot-1x.png 1x,
                    ./img/vegetables/carrot-2x.png 2x
                  "
                  media="(min-width: 1158px)"
                />
                <source
                  srcset="
                    ./img/vegetables/carrot-1x.png 1x,
                    ./img/vegetables/carrot-2x.png 2x
                  "
                  width="321"
                  height="245"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/vegetables/carrot-1x.png 1x,
                    ./img/vegetables/carrot-2x.png 2x
                  "
                  width="292"
                  height="223"
                  width="292"
                  height="223"
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/vegetables/carrot-1x.png"
                  alt="Carrot"
                  width="292"
                  height="223"
                />
              </picture>
            </div>

            <div><p class="price-card">100 UAH / kg</p></div></a
          >
        </li>
        <li class="card-list">
          <a>
            <div>
              <h3 class="header-card">Brussel sprouts</h3>
              <p class="text-card">Plant</p>
            </div>
            <div class="card-image">
              <picture>
                <source
                  srcset="
                    ./img/vegetables/brussel-1x.png 1x,
                    ./img/vegetables/brussel-2x.png 2x
                  "
                  width="266"
                  height="266"
                  media="(min-width: 1158px)"
                />
                <source
                  srcset="
                    ./img/vegetables/brussel-1x.png 1x,
                    ./img/vegetables/brussel-2x.png 2x
                  "
                  width="266"
                  height="266"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/vegetables/brussel-1x.png 1x,
                    ./img/vegetables/brussel-2x.png 2x
                  "
                  width="230"
                  height="230"
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/vegetables/brussel-1x.png 1x"
                  alt="Brussel sprouts"
                  width="230"
                  height="230"
                />
              </picture>
            </div>

            <div><p class="price-card">80 UAH / kg</p></div></a
          >
        </li>
        <li class="card-list">
          <a>
            <div>
              <h3 class="header-card">Tomato</h3>
              <p class="text-card">Plant</p>
            </div>
            <div class="card-image">
              <picture>
                <source
                  srcset="
                    ./img/vegetables/tomato-1x.png 1x,
                    ./img/vegetables/tomato-2x.png 2x
                  "
                  width="297"
                  height="188"
                  media="(min-width: 1158px)"
                />
                <source
                  srcset="
                    ./img/vegetables/tomato-1x.png 1x,
                    ./img/vegetables/tomato-2x.png 2x
                  "
                  width="297"
                  height="188"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/vegetables/tomato-1x.png 1x,
                    ./img/vegetables/tomato-2x.png 2x
                  "
                  width="278"
                  height="176"
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/vegetables/mob/tomato-mob-1x.png"
                  alt="Tomato"
                  width="278"
                  height="176"
                />
              </picture>
            </div>

            <div><p class="price-card">40 UAH / kg</p></div></a
          >
        </li>
        <li class="card-list">
          <a>
            <div>
              <h3 class="header-card">Eggplant</h3>
              <p class="text-card">Plant</p>
            </div>
            <div class="card-image">
              <picture>
                <source
                  srcset="
                    ./img/vegetables/eggplant-1x.png 1x,
                    ./img/vegetables/eggplant-2x.png 2x
                  "
                  width="222"
                  height="221"
                  media="(min-width: 1158px)"
                />
                <source
                  srcset="
                    ./img/vegetables/eggplant-1x.png 1x,
                    ./img/vegetables/eggplant-2x.png 2x
                  "
                  width="222"
                  height="221"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/vegetables/eggplant-1x.png 1x,
                    ./img/vegetables/eggplant-2x.png 2x
                  "
                  width="194"
                  height="193"
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/vegetables/eggplant-1x.png"
                  alt="Eggplant"
                  width="194"
                  height="193"
                />
              </picture>
            </div>

            <div><p class="price-card">60 UAH / kg</p></div></a
          >
        </li>
        <li class="card-list">
          <a>
            <div>
              <h3 class="header-card">Sweet potatoes</h3>
              <p class="text-card">Plant</p>
            </div>
            <div class="card-image">
              <picture>
                <source
                  srcset="
                    ./img/vegetables/potatoes-1x.png 1x,
                    ./img/vegetables/potatoes-2x.png 2x
                  "
                  width="339"
                  height="218"
                  media="(min-width: 1158px)"
                />
                <source
                  srcset="
                    ./img/vegetables/potatoes-1x.png 1x,
                    ./img/vegetables/potatoes-2x.png 2x
                  "
                  width="339"
                  height="218"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/vegetables/potatoes-1x.png 1x,
                    ./img/vegetables/potatoes-2x.png 2x
                  "
                  width="294"
                  height="189"
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/vegetables/potatoes-1x.png"
                  alt="Sweet potatoes"
                  width="294"
                  height="189"
                />
              </picture>
            </div>

            <div><p class="price-card">80 UAH / kg</p></div></a
          >
        </li>
        <li class="card-list">
          <a>
            <div>
              <h3 class="header-card">Leek</h3>
              <p class="text-card">Plant</p>
            </div>
            <div class="card-image">
              <picture>
                <source
                  srcset="
                    ./img/vegetables/leek-1x.png 1x,
                    ./img/vegetables/leek-2x.png 2x
                  "
                  width="308"
                  height="215"
                  media="(min-width: 1158px)"
                />
                <source
                  srcset="
                    ./img/vegetables/leek-1x.png 1x,
                    ./img/vegetables/leek-2x.png 2x
                  "
                  width="308"
                  height="215"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/vegetables/leek-1x.png 1x,
                    ./img/vegetables/leek-2x.png 2x
                  "
                  width="284"
                  height="198"
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/vegetables/leek-1x.png"
                  alt="Leek"
                  width="284"
                  height="198"
                />
              </picture>
            </div>

            <div><p class="price-card">50 UAH / kg</p></div></a
          >
        </li>
        <li class="card-list">
          <a>
            <div>
              <h3 class="header-card">Mushrooms</h3>
              <p class="text-card">Plant</p>
            </div>
            <div class="card-image">
              <picture>
                <source
                  srcset="
                    ./img/vegetables/mushrooms-1x.png 1x,
                    ./img/vegetables/mushrooms-2x.png 2x
                  "
                  width="353"
                  height="199"
                  media="(min-width: 1158px)"
                />
                <source
                  srcset="
                    ./img/vegetables/mushrooms-1x.png 1x,
                    ./img/vegetables/mushrooms-2x.png 2x
                  "
                  width="353"
                  height="199"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/vegetables/mushrooms-1x.png 1x,
                    ./img/vegetables/mushrooms-2x.png 2x
                  "
                  width="325"
                  height="183"
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/vegetables/mushrooms-1x.png"
                  alt="Mushrooms"
                  width="325"
                  height="183"
                />
              </picture>
            </div>

            <div><p class="price-card">40 UAH / kg</p></div></a
          >
        </li>
        <li class="card-list">
          <a>
            <div>
              <h3 class="header-card">Corn</h3>
              <p class="text-card">Plant</p>
            </div>
            <div class="card-image">
              <picture>
                <source
                  srcset="
                    ./img/vegetables/corn-1x.png 1x,
                    ./img/vegetables/corn-2x.png 2x
                  "
                  width="286"
                  height="219"
                  media="(min-width: 1158px)"
                />
                <source
                  srcset="
                    ./img/vegetables/corn-1x.png 1x,
                    ./img/vegetables/corn-2x.png 2x
                  "
                  width="286"
                  height="219"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/vegetables/corn-1x.png 1x,
                    ./img/vegetables/corn-2x.png 2x
                  "
                  width="265"
                  height="203"
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/vegetables/corn-1x.png"
                  alt="Corn"
                  width="265"
                  height="203"
                />
              </picture>
            </div>

            <div><p class="price-card">60 UAH / kg</p></div></a
          >
        </li>
        <li class="item-desktop card-list">
          <a>
            <div>
              <h3 class="header-card">Radish</h3>
              <p class="text-card">Plant</p>
            </div>
            <div class="card-image">
              <picture>
                <source
                  srcset="
                    ./img/vegetables/radish-1x.png 1x,
                    ./img/vegetables/radish-2x.png 2x
                  "
                  width="316"
                  height="181"
                  media="(min-width: 1158px)"
                />
                <img
                  src="./img/vegetables/radish-1x.png"
                  class="photo-desk"
                  alt="Radish"
                  width="316"
                  height="181"
                />
              </picture>
            </div>

            <div><p class="price-card">90 UAH / kg</p></div></a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
