<section id="Vegetables" class="vegetables-section">
  <div class="vegetables-container">
    <h2 class="vegetables-header-section-two">ORGANIC VEGETABLES</h2>
    <p class="vegetables-text-section-two">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <div>
      <ul class="vegetables-item-list-card">
        <li class="vegetables-card-list">
          <a>
            <div>
              <h3 class="vegetables-header-card">Carrot</h3>
              <p class="vegetables-text-card">Plant</p>
            </div>
            <div class="vegetables-card-image">
              <picture>
                <source
                  srcset="
                    ./img/vegetables/carrot-1x.png 1x,
                    ./img/vegetables/carrot-2x.png 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/vegetables/carrot-1x.png 1x,
                    ./img/vegetables/carrot-2x.png 2x
                  "
                  width="321"
                  height="245"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/vegetables/carrot-1x.png 1x,
                    ./img/vegetables/carrot-2x.png 2x
                  "
                  width="292"
                  height="223"
                  width="292"
                  height="223"
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/vegetables/carrot-1x.png"
                  alt="Carrot"
                  width="292"
                  height="223"
                />
              </picture>
              <svg class="vegetables-icon-oval">
                <use href="../img/icons.svg#icon-oval"></use>
              </svg>
            </div>

            <div><p class="vegetables-price-card">100 UAH / kg</p></div></a
          >
        </li>
        <li class="vegetables-card-list">
          <a>
            <div>
              <h3 class="vegetables-header-card">Brussel sprouts</h3>
              <p class="vegetables-text-card">Plant</p>
            </div>
            <div class="vegetables-card-image">
              <picture>
                <source
                  srcset="
                    ./img/vegetables/brussel-1x.png 1x,
                    ./img/vegetables/brussel-2x.png 2x
                  "
                  width="266"
                  height="266"
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/vegetables/brussel-1x.png 1x,
                    ./img/vegetables/brussel-2x.png 2x
                  "
                  width="266"
                  height="266"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/vegetables/brussel-1x.png 1x,
                    ./img/vegetables/brussel-2x.png 2x
                  "
                  width="230"
                  height="230"
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/vegetables/brussel-1x.png 1x"
                  alt="Brussel sprouts"
                  width="230"
                  height="230"
                />
              </picture>
              <svg class="vegetables-icon-oval">
                <use href="../img/icons.svg#icon-oval"></use>
              </svg>
            </div>

            <div><p class="vegetables-price-card">80 UAH / kg</p></div></a
          >
        </li>
        <li class="vegetables-card-list">
          <a>
            <div>
              <h3 class="vegetables-header-card">Tomato</h3>
              <p class="vegetables-text-card">Plant</p>
            </div>
            <div class="vegetables-card-image">
              <picture>
                <source
                  srcset="
                    ./img/vegetables/tomato-1x.png 1x,
                    ./img/vegetables/tomato-2x.png 2x
                  "
                  width="297"
                  height="188"
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/vegetables/tomato-1x.png 1x,
                    ./img/vegetables/tomato-2x.png 2x
                  "
                  width="297"
                  height="188"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/vegetables/tomato-1x.png 1x,
                    ./img/vegetables/tomato-2x.png 2x
                  "
                  width="278"
                  height="176"
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/vegetables/mob/tomato-mob-1x.png"
                  alt="Tomato"
                  width="278"
                  height="176"
                />
              </picture>
              <svg class="vegetables-icon-oval">
                <use href="../img/icons.svg#icon-oval"></use>
              </svg>
            </div>

            <div><p class="vegetables-price-card">40 UAH / kg</p></div></a
          >
        </li>
        <li class="vegetables-card-list">
          <a>
            <div>
              <h3 class="vegetables-header-card">Eggplant</h3>
              <p class="vegetables-text-card">Plant</p>
            </div>
            <div class="vegetables-card-image">
              <picture>
                <source
                  srcset="
                    ./img/vegetables/eggplant-1x.png 1x,
                    ./img/vegetables/eggplant-2x.png 2x
                  "
                  width="222"
                  height="221"
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/vegetables/eggplant-1x.png 1x,
                    ./img/vegetables/eggplant-2x.png 2x
                  "
                  width="222"
                  height="221"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/vegetables/eggplant-1x.png 1x,
                    ./img/vegetables/eggplant-2x.png 2x
                  "
                  width="194"
                  height="193"
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/vegetables/eggplant-1x.png"
                  alt="Eggplant"
                  width="194"
                  height="193"
                />
              </picture>
              <svg class="vegetables-icon-oval">
                <use href="../img/icons.svg#icon-oval"></use>
              </svg>
            </div>

            <div><p class="vegetables-price-card">60 UAH / kg</p></div></a
          >
        </li>
        <li class="vegetables-card-list">
          <a>
            <div>
              <h3 class="vegetables-header-card">Sweet potatoes</h3>
              <p class="vegetables-text-card">Plant</p>
            </div>
            <div class="vegetables-card-image">
              <picture>
                <source
                  srcset="
                    ./img/vegetables/potatoes-1x.png 1x,
                    ./img/vegetables/potatoes-2x.png 2x
                  "
                  width="339"
                  height="218"
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/vegetables/potatoes-1x.png 1x,
                    ./img/vegetables/potatoes-2x.png 2x
                  "
                  width="339"
                  height="218"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/vegetables/potatoes-1x.png 1x,
                    ./img/vegetables/potatoes-2x.png 2x
                  "
                  width="294"
                  height="189"
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/vegetables/potatoes-1x.png"
                  alt="Sweet potatoes"
                  width="294"
                  height="189"
                />
              </picture>
              <svg class="vegetables-icon-oval">
                <use href="../img/icons.svg#icon-oval"></use>
              </svg>
            </div>

            <div><p class="vegetables-price-card">80 UAH / kg</p></div></a
          >
        </li>
        <li class="vegetables-card-list">
          <a>
            <div>
              <h3 class="vegetables-header-card">Leek</h3>
              <p class="vegetables-text-card">Plant</p>
            </div>
            <div class="vegetables-card-image">
              <picture>
                <source
                  srcset="
                    ./img/vegetables/leek-1x.png 1x,
                    ./img/vegetables/leek-2x.png 2x
                  "
                  width="308"
                  height="215"
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/vegetables/leek-1x.png 1x,
                    ./img/vegetables/leek-2x.png 2x
                  "
                  width="308"
                  height="215"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/vegetables/leek-1x.png 1x,
                    ./img/vegetables/leek-2x.png 2x
                  "
                  width="284"
                  height="198"
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/vegetables/leek-1x.png"
                  alt="Leek"
                  width="284"
                  height="198"
                />
              </picture>
              <svg class="vegetables-icon-oval">
                <use href="../img/icons.svg#icon-oval"></use>
              </svg>
            </div>

            <div><p class="vegetables-price-card">50 UAH / kg</p></div></a
          >
        </li>
        <li class="vegetables-card-list">
          <a>
            <div>
              <h3 class="vegetables-header-card">Mushrooms</h3>
              <p class="vegetables-text-card">Plant</p>
            </div>
            <div class="vegetables-card-image">
              <picture>
                <source
                  srcset="
                    ./img/vegetables/mushrooms-1x.png 1x,
                    ./img/vegetables/mushrooms-2x.png 2x
                  "
                  width="353"
                  height="199"
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/vegetables/mushrooms-1x.png 1x,
                    ./img/vegetables/mushrooms-2x.png 2x
                  "
                  width="353"
                  height="199"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/vegetables/mushrooms-1x.png 1x,
                    ./img/vegetables/mushrooms-2x.png 2x
                  "
                  width="325"
                  height="183"
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/vegetables/mushrooms-1x.png"
                  alt="Mushrooms"
                  width="325"
                  height="183"
                />
              </picture>
              <svg class="vegetables-icon-oval">
                <use href="../img/icons.svg#icon-oval"></use>
              </svg>
            </div>

            <div><p class="vegetables-price-card">40 UAH / kg</p></div></a
          >
        </li>
        <li class="vegetables-card-list">
          <a>
            <div>
              <h3 class="vegetables-header-card">Corn</h3>
              <p class="vegetables-text-card">Plant</p>
            </div>
            <div class="vegetables-card-image">
              <picture>
                <source
                  srcset="
                    ./img/vegetables/corn-1x.png 1x,
                    ./img/vegetables/corn-2x.png 2x
                  "
                  width="286"
                  height="219"
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/vegetables/corn-1x.png 1x,
                    ./img/vegetables/corn-2x.png 2x
                  "
                  width="286"
                  height="219"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/vegetables/corn-1x.png 1x,
                    ./img/vegetables/corn-2x.png 2x
                  "
                  width="265"
                  height="203"
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/vegetables/corn-1x.png"
                  alt="Corn"
                  width="265"
                  height="203"
                />
              </picture>
              <svg class="vegetables-icon-oval">
                <use href="../img/icons.svg#icon-oval"></use>
              </svg>
            </div>

            <div><p class="vegetables-price-card">60 UAH / kg</p></div></a
          >
        </li>
        <li class="vegetables-item-desktop vegetables-card-list">
          <a>
            <div>
              <h3 class="vegetables-header-card">Radish</h3>
              <p class="vegetables-text-card">Plant</p>
            </div>
            <div class="vegetables-card-image">
              <picture>
                <source
                  srcset="
                    ./img/vegetables/radish-1x.png 1x,
                    ./img/vegetables/radish-2x.png 2x
                  "
                  width="316"
                  height="181"
                  media="(min-width: 1280px)"
                />
                <img
                  src="./img/vegetables/radish-1x.png"
                  class="vegetables-photo-desk"
                  alt="Radish"
                  width="316"
                  height="181"
                />
              </picture>
              <svg class="vegetables-icon-oval">
                <use href="../img/icons.svg#icon-oval"></use>
              </svg>
            </div>

            <div><p class="vegetables-price-card">90 UAH / kg</p></div></a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="vegetables-button">
    <button class="vegetables-button-order" type="button" data-modal-open>
      <div class="vegetables-icon-text">
        <svg class="vegetables-icon-order">
          <use href="/img/icons.svg#icon-arrow"></use>
        </svg>
      </div>
      <div><p class="vegetables-text-order">ORDER</p></div>
    </button>
  </div>
</section>
