<section id="How_It_Works" class="how-order">
  <div class="how-container">
    <div class="how-order-block">
      <div class="how-order-wrapper">
        <h1 class="how-order-title">
          To order your vegetable basket, simply follow these easy steps
        </h1>
        <picture>
          <source
            srcset="
              ./img/section1/vegetdec-1.jpg 1x,
              ./img/section1/vegetdec-2.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/section1/vegettab-1.jpg 1x,
              ./img/section1/vegettab-2.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/section1/vegetmob-1.jpg 1x,
              ./img/section1/vegetmob-2.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src=".img/section1/vegetmob-1.jpg"
            alt="brocolly"
            width="335"
            height="158"
          />
        </picture>
      </div>
      <div class="how-text-wrapper">
        <p class="how-desc-1 how-order-text">
          Our baskets are assembled with care and delivered straight to your
          doorstep, so you can enjoy the taste of fresh fruit without ever
          leaving your home.
        </p>
        <p class="how-desc-2 how-order-text">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </div>
    </div>
  </div>

  <div class="how-container">
    <div class="how-easy-steps">
      <div class="how-easy-wrap">
        <h2 class="how-easy-title">3 Easy Steps for Buying Fresh Vegetables</h2>
        <ol class="how-easy-list">
          <li class="how-item-1 how-easy-item">
            Just choose the vegetable you want to order by clicking on the
            checkboxes next to it.
          </li>
          <li class="how-item-2 how-easy-item">
            Click on the basket and fill out the form.
          </li>
          <li class="how-item-1 how-easy-item">
            Sit back and relax! Your fresh vegetables basket will be delivered.
          </li>
        </ol>
      </div>
      <div class="how-picture-wrap">
        <picture class="how-picture">
          <source
            srcset="
              ./img/section1/girldec-1.png 1x,
              ./img/section1/girldec-2.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/section1/girltab-1.png 1x,
              ./img/section1/girltab-2.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/section1/girlmob-1.png 1x,
              ./img/section1/girlmob-2.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src=".img/section1/girlmob-1.png"
            alt="girl-photo"
            height="319"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
