.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}


.header {
}
.container {
}
.header-container {
}
.header-nav {
}
.header-menu {
}
.header-menu-item {
}
.header-menu-link {
}
.header-logo {
}
.header-logo-icon {
}
.header-open-modal-btn {
}

.header-open-modal-icon {
    stroke: #141414;
    fill: transparent;
}

.header-open-menu-btn {
}
.header-open-menu-icon {
}
.mob-menu {
}
.mob-menu-logo {
}
.mob-menu-logo-icon {
}

.mob-menu-close-btn {
    stroke: #77AC63;
}

.mob-menu-btn-icon {
}
.mob-menu-list {
}
.mob-menu-item {
}
.mob-menu-link {
}
.mob-menu-icon {
    stroke: black;
    fill: transparent;
}