:root {
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-container {
    display: flex;
    align-items: center;
    padding-top: 13px;
    padding-bottom: 13px;
}

.header-nav {
    display: flex;
    margin-right: auto;
    align-items: center;
}

.header-menu {
    display: none;
}

.header-logo {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 8px;
}

.header-logo-icon {
    fill: #77AC63;
}

.header-open-modal-btn {
    display: none;
}

.header-open-menu-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    color: #77AC63;
    transition: color var(--transition);
}

.header-open-menu-icon {
    fill: currentColor;
}

.header-open-menu-btn:hover, 
.header-open-menu-btn:focus {
    color: #141414;
} 

.mob-menu {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: #A1C487;
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 124px;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.mob-menu.is-open {
    transform: translateX(0%);
}

.mob-menu-logo-btn {
    padding: 13px 20px;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
}

.mob-menu-logo {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 8px;
}

.mob-menu-logo-icon {
    fill: #77AC63;
}

.mob-menu-close-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #77AC63;
    transition: color var(--transition);
}

.mob-menu-btn-icon {
    stroke: currentColor;
}

.mob-menu-close-btn:hover, 
.mob-menu-close-btn:focus {
    color: #141414;
} 

.mob-menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-bottom: 516px;
}

.mob-menu-item {
    color: #FFF;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.04em;
}

.mob-menu-icon {
    stroke: #ffffff;
    fill: transparent;
}

@media screen and (min-width: 375px) {
    .container {
        max-width: 375px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: auto;
        margin-right: auto;
       }
}

@media screen and (max-width: 374px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .header-container {
        display: flex;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .header-nav {
        display: flex;
        gap: 86px;
        margin-right: unset;
    }

    .header-menu {
        display: flex;
        gap: 14px;
    }
    
    .header-menu-item {
        font-size: 14px;
        line-height: 1.3;
        letter-spacing: -0.04em;
    }

    .header-open-modal-btn {
        padding: 0;
        width: 20px;
        height: 20px;
        margin-left: auto;
        border: none;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #141414;
        transition: color var(--transition);
    }

    .header-open-modal-icon {
        stroke: currentColor;
        fill: transparent;
    }

    .header-open-modal-btn:hover, 
    .header-open-modal-btn:focus {
        color: #A1C487;
    } 

    .header-open-menu-btn {
        display: none;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }

    .header-container {
        padding-top: 13px;
        padding-bottom: 13px;
    }

    .header-menu {
        gap: 20px;
    }

    .header-nav {
        gap: 308px;
    }

    .header-open-modal-btn {
        width: unset;
        height: unset;
    }
}