.we-will {
 padding: 80px 0;
}
.title-we-will {
 font-weight: 500;
 font-size: 24px;
 line-height: 1.17;
 letter-spacing: -0.04em;
 color: #141414;;
 text-align: center;
}
.text-we-will {
 font-weight: 400;
 font-size: 14px;
 line-height: 1.28;
 letter-spacing: -0.04em;
 color: #141414;
 text-align: center;
}
.sub-we-will {
 width: 100%;
}
.form-we-will {
 
}
.we-will-phone {

}
.label-we-will {

}
.we-will-phone {

}
.we-will-phone {

}
.input-we-will {
 position: relative;
}
.button-we-will {
 position: absolute;
}